# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.so

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/

# Env
.env
.env.*

# VSCode
.vscode/

# Migrations (opcional — comente se quiser manter)
**/migrations/
